<!-- -*- xml -*-

This test checks that the synchornized behaves properly.

It relies on the bag file located in bag/force-imu.bag

  -->
<launch>
  <!-- Which robot are we controlling ? -->
  <arg name="robot" default="hrp2_10" />
  <!-- Are we in simulation ? -->
  <arg name="simulation" default="false" />

  <!-- mode should be dg_with_stabilizer -->
  <arg name="mode" default="dg_with_stabilizer" />

  <!-- Load robot model and machine description -->
  <include file="$(find hrp2_bringup)/launch/openhrp_bridge.launch">
    <arg name="robot" value="$(arg robot)" />
    <arg name="simulation" value="$(arg simulation)" />
  </include>

  <!-- Launch the synchronizer -->
  <node pkg="navigation_to_object" type="synchronizer" name="synchronizer"
	machine="hrp2c">
    <remap from="force_left_foot" to="/force_0"/>
    <remap from="force_right_foot" to="/force_1"/>
  </node>

  <!-- Launch the vref node -->
  <node pkg="navigation_to_object" type="vref" name="vref"
	machine="hrp2c" />

  <!-- Initialize the SoT -->
  <node pkg="navigation_to_object" type="launcher" name="launcher"
	machine="hrp2c">
    <param name="~simulation" value="$(arg simulation)" />
  </node>
</launch>
