<!-- -*- xml -*-

This test checks that the synchornized behaves properly.

It relies on the bag file located in bag/force-imu.bag

  -->
<launch>
  <param name="use_sim_time" value="true" />

  <!-- Replay force and imu data. -s 150 start from 150.0 seconds in the bag file-->
  <node pkg="rosbag" type="play" name="rosbag_imu_force"
	args="--clock -l -s 150
	      $(find navigation_to_object)/bag/force_imu.bag"/>

  <!-- publish a topic to simulat a input of type PoseStamped-->
  <node pkg="navigation_to_object" type="simu_publisher_object_detect" name="simu_publisher_object_detect">
  </node>

  <!-- Launch the synchronizer -->
  <node pkg="navigation_to_object" type="synchronizer" name="synchronizer">
    <remap from="force_left_foot" to="/force_0"/>
    <remap from="force_right_foot" to="/force_1"/>
  </node>

  <!-- Record forces and object_position input and th object_position filtered  -->
  <node pkg="rosbag" type="record" name="rosbag_record_simu"
    args="-o
        $(find navigation_to_object)/bag/simu_result.bag
         /force_0 /force_1 /object_position /object_position_filtered "/>

  <!--
      FIXME: write test node
      http://wiki.ros.org/roslaunch/XML/test

test_synchronizer
checks that the output messages of synchronizer during this test are valid (i.e. frequency, time is correct)
  -->
</launch>
